// font
$font-family-sans-serif:'Open Sans', sans-serif;

// Colors
$primary: #c167ef;
$secondary: #10bcee;
$dark: #2b3041;
$light: #f3f6f9;

// navbar
$navbar-padding-y: 1rem;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: $secondary;


// button 
$button-radius: 50px;

$btn-border-radius: $button-radius;
$btn-border-radius-lg: $button-radius;
$btn-border-radius-sm: $button-radius;
$navbar-toggler-border-radius: 5px;

//spacer
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6, 
  7: $spacer * 8,
  8: $spacer *12,
) !default;

$line-height-base: 1.7;
$headings-margin-bottom: $spacer * 1;
$enable-negative-margins: true;



// Custom CSS
.navbar .btn-outline-light:hover {
    color: #333;
}

.navbar-sticky {
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.navbar {
    transition: all 0.5s ease-in-out;
}

.nav-item:nth-child(1) {
    margin-right: 1.2rem;
}





.header {
    background-image: url(../images/header-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

input.form-control::placeholder {
   color: rgba(0,0,0,0.4); 
  }

.download {
    background: url(../images/download-background.jpg) center center no-repeat;
    background-size: cover;
}

@media (max-width: 1000px) {
    .hero .image-container {
        display: flex; 
        justify-content: center;
    }

    .hero .text-container {
        text-align: center;
    }

    
}


@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/bootstrap';